<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src=<%= book.coverPath ? book.coverPath : '/images/icons/dir.png' %> alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><%= book.name %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle='collapse' data-target=<%= '#book' + book.id %> aria-expanded='false'>Description</button>
                </div>
                <small class="text-muted"><%= book.author %></small>
            </div>
            <div class="justify-content-between collapse book-description" id=<%= 'book' + book.id %>>
                <small class="text-muted">
                    <%- book.description ? book.description : 'No description provided.' %>
                </small>
            </div>
        </div>
    </div>
</div>