<tr>
    <th scope="row">
        <img class="file-icon" src="images/icons/<%= file.type %>.png">
        <%= file.permissions %>
    </th>
    <td><%= file.name %></td>
    <td><%= file.timestamp %></td>
    <td><%= file.size %></td>
</tr>