<html>
    <%- include('/_head', { title: 'Files', controller: files, scripts: ['main', 'upload'], stylesheets: ['files']}) %>
    <body>
        <%- include('_addModal', { localDir }) %>
        <%- include('_directory', { localDir }) %>
        <% if (!!upload) { %>
            <div class="alert alert-success fade show" role="alert">
                Successfully uploaded files: <%= upload %>
            </div>
        <% } %>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" >
                        <button type="button" id="upload" class="btn btn-outline-primary" data-toggle="modal" data-target="#addModal">
                                <img class="add-icon" src="/images/add.png"/>
                                Upload File
                        </button>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                <% files.forEach((file) => { %>
                    <%- include('_entry', { file }) %>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>